/**
 * Created by guillaume.rebmann on 6/2/17.
 */

.THIS .alertlittle{
    padding: 0px;
    margin-bottom: 10px;
}
.THIS .alertReview{
    background-color: #AF1E2C;
}
.THIS .alertWarning{
    background-color: #f6ba5d;
}
.THIS .alertSuccess{
    background-color: #419641;
    color: #fff;
}